      /* HEADER */

	#header {
	  padding-top: 1em;
	  padding-bottom: 1em;
	}

	#header .form-inline {
	  margin-top: 2em;
	}

	#header .form-inline label {
	  width: 100%;
	}

	.navbar {
	  border-radius: 0;
	}

	main#content {
	  margin-bottom: 2em;
	}
   	
   	.well {
   		border-radius: 0;
   		background-color: #eee;
   	}
   	
   	section.destaque{
   		background-color: #111;
   		color: #A9A9A9;
   	}
   
   	hr{
   	height: 1px;
	background-color: #555;
   	}
   	input[type=text],input[type=email],input[type=password],textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   	}
    main{
    	min-height: 400px;
    }


